.checkBox
    display: flex
    width: 65%
    height: 400px
    border: 2px solid grey 
    background-color: #c4bfbf
    padding: 10px


.checkoutBoX
    display: flex
    width: 100%

.checkoutBoX button, .resumetwo button
    display: flex
    justify-content: center
    padding: 10px