.mainSearch
    display: flex
    justify-content: center
    align-items: center
    position: relative
    top: 40px

    .formSearch
        padding: 10px
        font-size: 16px
        border: 5px solid #ccc

        .inputSearch
            width: 30rem

        .buttonSearch
            width: 5rem 
            padding: 5 20px
            color: #00000066
