@use "../../styles/global/variables"   
@use "../../styles/global/mixins" 



.user_view
    padding: 5% 10%
    height: 100%
    border: 1px black solid

.dataSection
    display: flex
    
    





    

