.dataDiv
    display: flex
    flex-direction: column
    border-top: 1px black solid
    width: 500px
    padding: 10px

    .myDataTitle

    
    
    .label
        margin-top: 50px

.editdata
    margin-top: 50px
    width: 200px
    height: 50px

.divBtn
    display: flex
    justify-content: flex-end