.userDataSection
    display: flex
    // border: 1px red solid
    justify-content: center
    
    
#dataTitle
    margin-left: 100px
    
.dataForm
    border-top: black solid 1px
    display: flex
    flex-direction: column
    width: 600px
    height: 400px
    flex-wrap: wrap
    align-items: center
    margin-left: 100px
    padding-top: 40px 
    
    
    #altCad, #altEmail, #altTel, #altSenha
        height: 30px
        width: 300px
        border: black solid 1px
        border-radius: 5px
        


    #buttonAtt
        height: 50px
        width: 300px
        margin-top: 60px
    

    .labelForm
        margin-top: 10px