.addAdressForm
    display: flex
    flex-direction: column
    width: 600px
    height: 400px
    flex-wrap: wrap
    align-items: center
    margin-left: 100px
    padding-top: 40px 
    
    
    #addEndereco, #addCEP, #addBairro, #addUF
        height: 30px
        width: 300px
        border: black solid 1px
        border-radius: 5px
        

    #buttonAdd
        height: 50px
        width: 300px
        margin-top: 60px

    .labelForm
        margin-top: 10px